{% capture absolute_url %}{% strip %}
  {{ site.url }}
  {{ site.baseurl }}
  {% if post != nil %}
    {% if post.alias != nil %}
      {{ post.alias }}
    {% else %}
      {{ post.url }}
    {% endif %}
  {% else %}
    {% if page.alias != nil %}
      {{ page.alias }}
    {% else %}
      {{ page.url }}
    {% endif %}
  {% endif %}
{% endstrip %}{% endcapture %}

<div class="share42init" style="text-alignment: center;"></div>
<script type="text/javascript" src="{{ base_url }}/javascripts/share42/share42.js"></script>



