{% capture share_url %}{% strip %}
  {{ site.url }}
  {{ site.baseurl }}
  {% if post != nil %}
    {% if post.alias != nil %}
      {{ post.alias }}
    {% else %}
      {{ post.url }}
    {% endif %}
  {% else %}
    {% if page.alias != nil %}
      {{ page.alias }}
    {% else %}
      {{ page.url }}
    {% endif %}
  {% endif %}
{% endstrip %}{% endcapture %}

{% capture share_title %}{% strip %}
  {% if post != nil %}
    {{ post.title }}
  {% else %}
    {{ page.title }}
  {% endif %}
{% endstrip %}{% endcapture %}

<div class="share42init" data-url="{{ share_url }}" data-title="{{ share_title }}"></div>
<script type="text/javascript" src="{{ base_url }}/javascripts/share42/share42.js"></script>



