{% capture absolute_url %}{% strip %}
  {{ site.url }}
  {{ site.baseurl }}
  {% if post != nil %}
    {% if post.alias != nil %}
      {{ post.alias }}
    {% else %}
      {{ post.url }}
    {% endif %}
  {% else %}
    {% if page.alias != nil %}
      {{ page.alias }}
    {% else %}
      {{ page.url }}
    {% endif %}
  {% endif %}
{% endstrip %}{% endcapture %}

<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ absolute_url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ absolute_url }}" >Tweet</a><br />
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div><br />
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="300" data-show-faces="false" data-href="{{ absolute_url }}"></div><br />
  {% endif %}
  {% if site.vk_like %}
  <script type="text/javascript">
  var vk_fire = function() {
    var id = "vk"+Math.floor(Math.random()*Math.pow(10,10)).toString();
    document.write('<div class="vk-like" id="'+id+'"></div><br />');
    $(document).ready(function() { $("#"+id).html(VK.Share.button('{{ absolute_url }}')); })
  }; vk_fire();
  </script>
  {% endif %}
</div>
