<ul class="main-navigation">
  <li><a href="{{ root_url }}/">{% t navigation.root %}</a></li>
  <li><a href="{{ root_url }}/blog/archives">{% t navigation.archive %}</a></li>
  <li><a href="{{ root_url }}/about">{% t navigation.about %}</a></li>
  <li><a href="{{ root_url }}/atom.xml">RSS</a></li>
</ul>

<ul class="sub-navigation">
  <li><a href="https://facebook.com/fakecontrol.org">Facebook</a></li>
  <li><a href="https://twitter.com/fakecontrol_org">Twitter</a></li>
  <li><a href="https://vk.com/fakecontrol_org">VK</a></li>
</ul>

<div class="langs">
  {% if site.lang == "ru" %}
    <a href="{{ site.baseurl_root }}/en{{ page.url | replace: "index.html", "" }}">English</a>
  {% else if site.lang == "en" %}
    <a href="{{ site.baseurl_root }}{{ page.url | replace: "index.html", "" }}">Русский</a>
  {% endif %}
</div>
