body > header {
  float: left;
  //border-bottom: 1px solid lighten($text-color-light, 38);
  border-right: 4px solid $subtitle-color;
  text-align: center;
  padding-bottom: 50px;
  h1 {
    display: inline-block;
    font-weight: normal;
    top: 6.5em;
  }
  h2 {
    color: $subtitle-color;
    font-weight: bold;
    margin-top: .2em;
    margin-bottom: .3em;
    a, a:visited {
      color: $subtitle-color;
      text-decoration: none;
    }
  }
}
