{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Комментарии</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
  <div class="sharing">
    {% if site.twitter_tweet_button %}
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
    {% endif %}
    {% if site.google_plus_one %}
      <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
    {% endif %}
    {% if site.facebook_like %}
      <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
    {% endif %}
  </div>
{% else %}
<div class="entry-content">{{ content }}</div>
<div class="sharing">
  {% if site.twitter_tweet_button %}
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ post.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ post.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
    <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
  <div class="fb-like" data-send="true" data-width="450" data-show-faces="false" data-href="{{ post.url }}"></div>
  {% endif %}
</div>
{% endif %}
