// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.vk-like {
  margin-top: 10px;
}

.langs {
  font-size: 80%;
  float: right;
}
