// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@media only screen and (max-width: 600px) {
  body>header,body>nav>ul {
    position: relative;
    top: 60px;
    left: 0;
    margin-bottom: 35px;
  }

  body>nav {
    form {
      position: absolute;
      top: 0;
      left: 0;
      width: 95%;
    }
  }
}

.fb-like, .vk-like {
  margin-top: 10px;
}
