// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@media only screen and (max-width: 600px) {
  body>header,body>nav>ul,body>nav>.langs {
    position: relative;
    top: 60px;
    left: 0;
    margin-bottom: 35px;
  }

  body>nav {
    form {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding-left: 18px;
      padding-right: 18px;

      fieldset {
        width: 100%;
        .search {
          width: 95%;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  body>header {
    h2 {
      margin-top: .52em;
      font-size: 2.575em !important;
    }
    h1 {
      display: none;
    }
  }

  body>header,body>nav>ul {
    margin-bottom: 50px;
  }

  body>nav>.langs {
    position: absolute;
    left: auto;
    right: 27px;
    top: 16px;
  }
}

.fb-like, .vk-like {
  margin-top: 10px;
}

.langs {
  position: absolute;
  top: 50px;
  right: 18px;
  font-size: 80%;
  float: right;
}

.entry-content {
  hr {
    margin: 0 0 1.3em 0;
    height: 2px;
    background: #e6e6e6;
    border: 0;
  }
}
